In [13]:
from fastkml import kml
import pandas as pd

In [18]:
with open('../data/SG200Miles2024.kml', 'rb') as kml_file:
    k = kml.KML()
    k.from_string(kml_file.read())

folders_to_process = [
    'Food, Drink & Restroom',
    'Hospitals',
]    
    
placemarks = []
for doc in k.features():
    for folder in doc.features():
        if folder.name not in folders_to_process:
            continue
        
        for placemark in folder.features():
            if isinstance(placemark, kml.Placemark):
                name = placemark.name
                coords = placemark.geometry.coords[0]
                placemarks.append({'name': name, 'latitude': coords[1], 'longitude': coords[0]})

df = pd.DataFrame(placemarks)

In [19]:
df.head(3)

                            name  latitude   longitude
0                   ESSO WINDSOR  1.357934  103.828421
1                         Toilet  1.360407  103.827069
2  Restrooms & Toilet Facilities  1.370504  103.827834

In [20]:
df.to_csv(
    '../postgis/data/placemarks.csv', 
    columns=[
        'name',
        'latitude',
        'longitude',
    ],
    header=False,
    index=False,
)